body {
    margin: 0;
    background: #222;
    font-family:  system-ui;
    display: grid;
    place-content: center;
    min-height: 100vh;
}

.App {
    display: flex;
    flex-direction: column;
    gap: 8px; /*-->Por lo que para este caso, lo mejor es solo modificar el contenedor y poder así reutilizar siempre TwitterFollowCard
    y modificarlo a nuestro antojo.*/
}
